.apiName {
   color: #82c341;
}

.apiLink {
   color: #4ab1e4;
}

a.logo-link {
	text-decoration: none;
}

textarea#SampleMessage,
div.MessageResponse {
   width: 100%;
   height : 10em;
   overflow-y: scroll;
   font-family: monospace;
   white-space: pre;
   border : 1px solid gray;
}

div.bottom-button {
   text-align: center;
   position: absolute;
   bottom: 0;
   margin-left: -30px;
   width: 100%;
   border-top-color:black;
   border: solid;
   border-width: 1px 0 0 0;
   background: #e5e6e6;
   cursor: pointer;
   color: #414042;
}

div.bottom-button > div {
   padding: 1.5em 0em;
}

div.bottom-button > div:hover {
   background: #f2f3f3;
}

div.codeBlock{
   display: block;
   background: #eeeeee;
   font-family: monospace;
   font-size: 1em;
   border-style: solid;
   border-width: 2px;
   border-color: #dddddd;
   border-radius: 5px;
   white-space: pre;
   text-align: left;
   padding: 1em;
}

table#token-list {
   width: 100%;
   table-layout: fixed;
   border: 1px solid #cbd0d3;
}

table#token-list th, 
table#token-list td {
    border: 1px solid #cbd0d3;
    padding: 8px 14px;
}

table#token-list th {
   text-align: center;
}

table#token-list td.tokenDisplay {
   text-align: left;
}

table#token-list td.actions {
   text-align: center;
}

input.tokenShowBox {
   width: 100%;
}

table#token-list td.actions > span {
   margin: 0 10 0 10;
}

img.nav-logo {
	width: 6em;
}

div.logo-container {
	padding: 1em;
}

div > div.logo-trailer {
	color: #666699;
   font-weight: 600;
   font-size: 12px;
   display: inline-block;
}

div.session-table > div {
	height: 3em;
}

div.sub-form {
   background: #ceeaff;
   border-radius: 4px;
   border: 1px solid #898989;
	margin: 1em 0;
   padding: 1em;
}

div.form-entry {
	display: block;
   margin: 1em 0;
}

div.form-entry > div > .form-input {
   width: 100%;
}
